
<div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>Angaben nach § 5 TMG:</h3>
            <p class="text-left animated hiding" data-animation="fadeInUp" data-delay="0">
                  it-agile GmbH<br>
            Willi-Brandt-Str. 1<br>
            20457 Hamburg<br><br>
            Telefon: +49 40 4135 848-0<br>
            Telefax: +49 40 4135 848-29<br>
            E-Mail: info@it-agile.de<br>
            Internet: www.it-agile.de<br><br>

            Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz: DE239483021<br>
            Handelsregister Hamburg HRB 92261<br>
            Geschäftsführer: Sandra Sieroux und Wolfgang Wiedenroth<br>
            Inhaltlich Verantwortlicher gemäß § 6 MDStV: Wolfgang Wiedenroth<br><br>


            Haftungshinweis: Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
          </p>

        </div>
