
<div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <p class="text-left animated hiding" data-animation="fadeInUp" data-delay="0">
            Wir, die it-agile GmbH, nehmen den Schutz Ihrer persönlichen Daten sehr ernst und halten uns strikt an die Regeln der Datenschutzgesetze. Personenbezogene Daten werden auf dieser Webseite nur im technisch notwendigen Umfang erhoben. In keinem Fall werden die erhobenen Daten verkauft oder aus anderen Gründen an Dritte weitergegeben.<br>

            Die nachfolgende Erklärung gibt Ihnen einen Überblick darüber, wie wir diesen
            Schutz gewährleisten und welche Art von Daten zu welchem Zweck erhoben werden.
            <br>
            <ol>
                <li>Cookies</li>
                <p>Die Internetseiten verwenden an mehreren Stellen so genannte Cookies. Sie dienen dazu, unser Angebot nutzerfreundlicher, effektiver und sicherer zu machen. Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und die Ihr Browser speichert. Die meisten der von uns verwendeten Cookies sind so genannte „Session-Cookies“. Sie werden nach Ende Ihres Besuchs automatisch gelöscht. Cookies richten auf Ihrem Rechner keinen Schaden an und enthalten keine Viren.</p>
                <li>Auskunftsrecht</li>
                <p>Sie haben jederzeit das Recht auf Auskunft über die bezüglich Ihrer Person gespeicherten Daten, deren Herkunft und Empfänger sowie den Zweck der Speicherung.Auskunft über die gespeicherten Daten bekommen Sie hier datenschutz@it-agile.de.</p>
            </ol>
        </div>
            