<div style="width:100%; text-align:center;">
  <div style="width:100%; max-width: 900px; margin: 0 auto;">
<iframe src="https://e.stry.tl/2498-lkce19/" id="strytl" width="100%" style="overflow: hidden; border: none; min-height: 500px; height: 1524px;" frameborder="0" onload="{if(typeof strytl==='object'&amp;&amp;typeof strytl.initialize==='function'){strytl.initialize()}else{strytl={};var s=document.createElement('script');s.src='https://s.stry.tl/assets/js/strytl.js';s.onload=function(){strytl.initialize()};document.body.appendChild(s);}}" scrolling="no" allowfullscreen="" height="1524"> </iframe>
  </div>
</div>
