
<div class="content-wrapper">
<div class="col-lg-10 col-lg-offset-1">
<h3>Cancelation Policy</h3>
<p class="text-left animated hiding" data-animation="fadeInUp" data-delay="0">
The registration of participation is binding. If you have to cancel the registration, you get 80% back until 30 days before the start of the event. In all other cases, the financial responsibilities of the participants remain fully effective. The participation fees are owed upon registration and are payable within 14 days after receiving the invoice. Participation is not guaranteed until full payment of the registration fee is received. The conference program may be subject to changes. Payments will be refunded if the conference/tutorials will be canceled by the organizer. In that case, the organizer will have no further liability to the client.
    If you have any questions, please contact us <a href="mailto:lkce@it-agile.de">lkce@it-agile.de.</a>

    <h3>Use of Likeness</h3>
    <p>By attending the event you acknowledge and agree to grant it-agile GmbH the right at the event to record, film, photograph, or capture your likeness in any media now available or hereafter developed and to distribute, broadcast, use, or otherwise globally to disseminate, in perpetuity, such media without any further approval from you or any payment to you. This grant to it-agile GmbH includes, but is not limited to, the right to edit such media, the right to use the media alone or together with other information, and the right to allow other to use or disseminate the media.</p>

    <h3>About the organizers</h3>
    <p>The conference (and tutorials) Lean Kanban Central Europe is organized by:<br>
    it-agile GmbH<br>
    Wolfgang Wiedenroth<br>
    Willi-Brandt-Str. 1<br>
    20457 Hamburg<br>
    Germany<br>
    lkce@it-agile.de<br>
    +49 (0)40 4135 848-0<br>
    </p>
    </div>
